@model Proyecto_Integracion.Models.Cuenta
@{
    Layout = "~/Views/_Layout.cshtml";
}



@section Scripts
{
    <script>
        $(".navbar-search").hide();
    </script>
    <script>
        function validatePassword() {
            var password = document.getElementById("Password");
            var confirm_password = document.getElementById("confirm_password");

            if (password.value != confirm_password.value) {
                document.getElementById("mensaje").innerHTML = "Contraseñas no coinciden.";
                document.getElementById("button").disabled = true;
            } else {
                if(password.value.length<6 || confirm_password.value.length<6)
                {
                    document.getElementById("mensaje").innerHTML = "La contraseña debe tener un largo minimo de 6 caracteres";
                    document.getElementById("button").disabled = true;
                }
                else {
                    document.getElementById("mensaje").innerHTML = "";
                    document.getElementById("button").disabled = false;
                }
            }
        }
    </script>
}

<div class="container">
    <br />
    <h2 class="letra-prompt"><strong>Cambiar Contraseña</strong></h2>
    <hr />
    <div class="lm-ingreso">
        <div id="formulario" class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Cambiar Contraseña</b>
                    </div>
                    @using (Html.BeginForm("CambiarContrasena", "Cuenta", FormMethod.Post))
                    {
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.Hidden("Email", Model.Email, new { @class = "hidden" })
                                <label for="Password"> Nueva Contraseña </label>
                                <input name="Contrasena" id="Password" type="password" class="form-control" onchange="validatePassword();" placeholder="Su contraseña" value="" maxlength="15" minlength="6" required />
                                <br>
                                <label for="confirm_password"> Confirmar Contraseña </label>
                                <input name="confirm_password" id="confirm_password" type="password" class="form-control" onkeyup="validatePassword();" placeholder="Confirme su contraseña" maxlength="15" minlength="6" value="" required />

                                <p id="mensaje"></p>
                            </div>
                            <div class="pull-right">
                                
                                <button type="submit" id="button" class="btn btn-success btn-lg">Cambiar</button>
                                <button type="button" class="btn btn-danger btn-lg" onclick="irAtras()">Cancelar</button>
                                
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
