
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crear Cuenta";
}

@section Styles{
    <link href="~/Contents/css/Maps.css" rel="stylesheet" />
    <link href="~/Contents/css/Crear_Cuenta.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Contents/js/maps-registrar.js"></script>
    <script type="text/javascript">
            $(".btn_ingresar").hide();
            $(".header_2").hide();
            $(".header_1").hide();
    </script>
}


<div class="container">
    <br />
    <h2 class="letra-prompt"><strong>Crear Cuenta</strong></h2>
    <hr />
    <div class="col-md-offset-2 col-md-8 ">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title letra-prompt">Registrar</h3>
            </div>
            @using (Html.BeginForm("Crear", "Cuenta", FormMethod.Post))
            {
                <div class="panel-body">
                    <!--<form class="form-horizontal">-->
                    <div class="form-group">
                        <label for="Email" class="letra-prompt">Email</label>
                        <input type="email" name="Email" class="form-control input-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="Contrasena" class="letra-prompt">Contraseña</label>
                        <input type="password" name="Contrasena" class="form-control input-lg" placeholder="Contraseña" maxlength="15" minlength="6">
                        <p><small>Introduce contraseña mayor 6 caracteres</small></p>
                    </div>
                    <div class="form-group">
                        <label for="Nombre" class="letra-prompt">Nombre</label>
                        <input type="text" name="Nombre" class="form-control input-lg" placeholder="Juan Perez" maxlength="15" minlength="6">
                    </div>
                    <div class="form-group">
                        <!--<label for="Latitud" class="letra-prompt">Latitude</label>-->
                        <input type="text" name="Latitud" id="Latitud" hidden>
                    </div>
                    <div class="form-group">
                        <!--<label for="Longitud" class="letra-prompt">Longitud</label>-->
                        <input type="text" name="Longitud" id="Longitud" hidden>
                    </div>

                    <!--</form>-->
                    <div class="form-group">
                        <div class="panel panel-default mapa-mi-ubicacion">
                            <div class="panel-heading">
                                <h3 class="panel-title letra-prompt">Mi Ubicación</h3>
                            </div>
                            <div class="panel-body" id="map">
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="panel-footer text-right">
                    <input class="btn btn-primary" value="Registrame" type="submit" />
                    <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-danger">Cancelar</a>
                </div>

            }
        </div>
    </div>
</div>
