
@{
    Layout = "~/Views/_Layout.cshtml";
}

@section Styles{
    <link href="~/Contents/css/Ingresar.css" rel="stylesheet" />
}


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title letra-prompt">Ingresar</h3>
        </div>
        <div class="panel-body">
            <!--<form class="form-horizontal">-->
                <div class="row">
                    <div class="form-group text-center">
                        <label for="inputEmail3" class="col-sm-2 control-label input-lg letra-prompt">Email</label>
                        <div class="col-sm-8">
                            <input type="email" maxlength="80" class="form-control input-lg" name="Email" placeholder="Ingrese su email...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group text-center">
                        <label for="inputPassword3" class="col-sm-2 control-label input-lg letra-prompt">Contraseña</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control input-lg" name="Contrasena" placeholder="Contraseña">
                        </div>
                    </div>
                </div>
                <p class="form-group text-center"><a class="letra-prompt" data-toggle="modal" data-target="#modal-contraseña"><i class="fa fa-lock" arian-hidden="true"></i> ¿Olvidaste tu contraseña?</a></p>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg letra-prompt pull-right">Ingresar</button>
                    </div>
                </div>
            <!--</form>-->
        </div>
        <div class="panel-footer">
            <p><a class="letra-prompt" href="@Url.Action("Crear","Cuenta")">Registrarme</a></p>

        </div>
    </div>
</div>


<!-- Modal Contraseña -->
<div id="modal-contraseña" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal Registrar-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title letra-prompt">Recuperar contraseña</h4>
            </div>
            @using (Html.BeginForm("OlvidePassword", "Cuenta", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>Ingrese su correo de recuperación.</p>

                    <div class="form-group">
                        <label for="Email">Email:</label>
                        <input class="form-control" name="Email" placeholder="Su Email" maxlength="80" type="text" value="" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" value="Recuperar" type="submit" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>  
            }
        </div>
    </div>
</div>
