@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center letra-prompt texto-naranja">ReportIt</h1>
    <br />
    <br />
    <h2 class="text-center letra-prompt texto-naranja">Desarrollado por</h2>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <a href="https://mx.linkedin.com/in/raul-alberto-ruvalcaba-flores-360064134">
                <img src="~/Contents/img/about/ruben.jpg" class="img-responsive center-block" style="max-height:200px">
                <p class="text-center"><strong>Raul Ruvalcaba</strong></p>
            </a>
        </div>
    </div>
</div>


